body {
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
}

a:link {
  color: black;
}
a:visited {
  color: black;
}

#Im_Nikita {
  top: 10px;
  font-family: Nunito Sans;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 7vw;
}
#Aspiring__software_engineer {
  top: 10px;
  text-align: center;
  position: relative;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 7vw;
}
#engineer {
  color: #645394;
}

#main_tw {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
  height: 10%;
}
#main_inst {
  padding: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
  height: 10%;
}
#main_git {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
  height: 10%;
}

#about_me {
  font-family: Source Code Pro;
  font-style: normal;
  font-weight: lighter;
  text-align: center;
  font-size: 4vw;
}

#my_skills {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  font-size: 6vw;
}

#skills {
  font-family: Source Code Pro;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  font-size: 4.5vw;
}

#what_i_worked_on {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 6vw;
  text-align: center;
}

#come_later {
  font-family: Source Code Pro;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  font-size: 4vw;
}

#info_links {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 6vw;
  text-align: center;
}

#about_links {
  font-family: Source Code Pro;
  font-style: normal;
  font-weight: lighter;
  text-align: center;
  font-size: 4vw;
}

#email {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  color:rgba(0,0,0,1)
}

#links {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  text-align: center;
}

#theme_container {
  text-align: center;
}

#theme_button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0px;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  height: 25px;
  border: 0.5px solid black;
  background-color: white;
  padding: 2px;
}

