#logo {
  left: 90px;
  top: 50px;
  position: absolute;
  overflow: visible;
  width: 198px;
  white-space: nowrap;
  line-height: 33px;
  margin-top: -4px;
  text-align: right;
  font-family: ONE DAY;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  color: rgba(0,0,0,1);
}


#Im_Nikita {
  mix-blend-mode: darken;
  left: 1.5em;
  top: 124px;
  position: absolute;
  overflow: visible;
  width: 361px;
  white-space: nowrap;
  text-align: left;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  color: rgba(0,0,0,1);
}

#Aspiring__software_engineer {
  left: 1.5em;
  top: 223px;
  position: absolute;
  overflow: visible;
  width: 492px;
  white-space: nowrap;
  line-height: 70px;
  margin-top: -12.5px;
  text-align: left;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  color: rgba(0,0,0,1);
}

#main_page {
  position: absolute;
  right: 90px;
  top: -100px;
  height: 906px;
  width: 738px;
}

#main_tw {
  overflow: visible;
  position: absolute;
  width: 48px;
  height: 39px;
  left: 125.949px;
  top: 463px;
}

#main_inst {
  overflow: visible;
  position: absolute;
  width: 48px;
  height: 48px;
  left: 217.82px;
  top: 459px;
}

#main_git {
  overflow: visible;
  position: absolute;
  width: 48px;
  height: 48px;
  left: 309.962px;
  top: 459px;
}

#about_me {
  top: 700px;
  margin: auto;
  position: relative;
  overflow: visible;
  width: 88%;
  white-space: nowrap;
  line-height: 34px;
  margin-top: -3.5px;
  text-align: left;
  font-family: Source Code Pro;
  font-style: normal;
  font-weight: lighter;
  font-size: 25px;
  color: rgba(0,0,0,1);
}

#about_my_path {
  left: 4.5em;
  top: 868px;
  position: absolute;
  overflow: visible;
  width: 616px;
  white-space: nowrap;
  line-height: 50px;
  margin-top: -12.5px;
  text-align: left;
  font-family: Source Code Pro;
  font-style: normal;
  font-weight: lighter;
  font-size: 20px;
  color: rgba(0,0,0,1);
}

#about_my_path_svg {
  position: absolute;
	width: 678px;
	height: 517px;
  right: 90px;
	top: 805px;
	overflow: visible;
}

#skills {
  left: 1.5em;
  top: 1300px;
  position: absolute;
  overflow: visible;
  width: 227px;
  white-space: nowrap;
  text-align: left;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
	font-size: 60px;
	color: rgba(0,0,0,1);
}

#about_skills {
  left: 3.5em;
  top: 1400px;
  position: absolute;
  overflow: visible;
  width: 1126px;
  white-space: nowrap;
  line-height: 40px;
  margin-top: -12.5px;
  text-align: left;
  font-family: Source Code Pro;
  font-style: normal;
  font-weight: lighter;
  font-size: 25px;
  color: rgba(0,0,0,1);
}

#frontend {
  left: 3.4em;
  top: 1500px;
  position: absolute;
  overflow: visible;
  width: 121px;
  white-space: nowrap;
  line-height: 50px;
  margin-top: -12.5px;
  text-align: left;
  font-family: Source Code Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  color: rgba(0,0,0,1);
}

#front_skills {
  left: 10em;
  top: 1500px;
  position: absolute;
  overflow: visible;
  width: 466px;
  white-space: nowrap;
  line-height: 50px;
  margin-top: -12.5px;
  text-align: left;
  font-family: Source Code Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  color: rgba(0,0,0,1);
}

#backend {
  left: 3.4em;
  top: 1550px;
  position: absolute;
  overflow: visible;
  width: 121px;
  white-space: nowrap;
  line-height: 50px;
  margin-top: -12.5px;
  text-align: left;
  font-family: Source Code Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  color: rgba(0,0,0,1);
}

#back_skills {
  left: 10em;
  top: 1556px;
  position: absolute;
  overflow: visible;
  width: 496px;
  white-space: nowrap;
  line-height: 40px;
  margin-top: -12.5px;
  text-align: left;
  font-family: Source Code Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  color: rgba(0,0,0,1);
}

#tools {
  left: 3.4em;
  top: 1650px;
  position: absolute;
  overflow: visible;
  width: 91px;
  white-space: nowrap;
  line-height: 50px;
  margin-top: -12.5px;
  text-align: left;
  font-family: Source Code Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  color: rgba(0,0,0,1);
}

#tools_info {
  left: 10em;
  top: 1650px;
  position: absolute;
  overflow: visible;
  width: 151px;
  white-space: nowrap;
  line-height: 50px;
  margin-top: -12.5px;
  text-align: left;
  font-family: Source Code Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  color: rgba(0,0,0,1);
}

#window_about_skills {
  right: 120px;
  position: absolute;
  width: 350px;
  height: 350px;
  top: 1400px;
  overflow: visible;
}

#what_i_worked_on {
  left: 1.5em;
  top: 1725px;
  position: absolute;
  overflow: visible;
  width: 483px;
  white-space: nowrap;
  text-align: left;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  color: rgba(0,0,0,1);
}

#come_later {
  left: 3.4em;
  top: 1870px;
  position: absolute;
  overflow: visible;
  width: 736px;
  white-space: nowrap;
  line-height: 50px;
  margin-top: -12.5px;
  text-align: left;
  font-family: Source Code Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  color: rgba(0,0,0,1);
}

#projects {
  right: 90px;
  position: absolute;
  width: 1000.219px;
  height: 632.26px;
  top: 1800px;
  overflow: visible;
}

#info_links {
  left: 1.5em;
  top: 2450px;
  position: absolute;
  overflow: visible;
  width: 847px;
  white-space: nowrap;
  text-align: left;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  color: rgba(0,0,0,1);
}

#about_links {
  left: 3.5em;
  top: 2550px;
  position: absolute;
  overflow: visible;
  width: 781px;
  white-space: nowrap;
  line-height: 50px;
  margin-top: -12.5px;
  text-align: left;
  font-family: Source Code Pro;
  font-style: normal;
  font-weight: lighter;
  font-size: 25px;
  color: rgba(0,0,0,1);
}

#email {
  left: 4.3em;
  top: 2650px;
  position: absolute;
  overflow: visible;
  width: 438px;
  white-space: nowrap;
  line-height: 50px;
  margin-top: -10px;
  text-align: left;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  color: rgba(0,0,0,1);
  text-decoration: underline;
}

#social_telegram {
  overflow: visible;
  position: absolute;
  width: 32px;
  height: 30px;
  left: 120px;
  top: 2700px;
  transform: matrix(1,0,0,1,0,0);
}

#social_twitter {
  overflow: visible;
  position: absolute;
  width: 32px;
  height: 30px;
  left: 185px;
  top: 2700px;
  transform: matrix(1,0,0,1,0,0);
}

#social_git {
  overflow: visible;
  position: absolute;
  width: 42px;
  height: 32px;
  left: 244px;
  top: 2700px;
  transform: matrix(1,0,0,1,0,0);
}

#social_svg {
  position: absolute;
  width: 926px;
  height: 500.711px;
  right: 30px;
  top: 2582px;
  overflow: visible;
}

#window_about_links {
  position: absolute;
  width: 350px;
  height: 350px;
  left: 90px;
  top: 2782px;
  overflow: visible;
}

#bottom_logo {
  left: 90px;
  top: 3187px;
  position: absolute;
  overflow: visible;
  width: 198px;
  white-space: nowrap;
  line-height: 33px;
  margin-top: -4px;
  text-align: right;
  font-family: ONE DAY;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  color: rgba(0,0,0,1);
}